:root {
  --clr-primary-700: #1b1e32;
  --clr-primary-900: #141628;

  --clr-accent-500: #FC7900;
  --clr-font-200: #DDD;

  --ff-primary: "Roboto", sans-serif;
  --ff-accent: "Playfair Display", serif;
}
h2{
  font-size: 2em!important;
  color: var(--clr-accent-500)
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#logo {
  max-width: 100px;
  max-height: 100px;
}

body {
  background-color: var(--clr-primary-900);
  color: var(--clr-font-200);
  font-family: var(--ff-primary);
  font-weight: 400;
}

.content{
  padding-left: 5%;
  padding-right: 5%;
}
